<a href="https://colab.research.google.com/github/Dhanu1402/python_with_ml/blob/main/Handling_imbalanced_datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Imbalanced Dataset:
A dataset with an unequal class distribution

In [1]:
# importing the dependencies
import numpy as np
import pandas as pd

In [2]:
# loading tha dataset to pandas DataFrame
credit_card_data = pd.read_csv('/content/credit_data.csv')

In [3]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [4]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
15931,27369,-1.160116,-0.244177,0.744250,-0.192350,1.156356,-1.931383,0.409670,-0.364716,-0.516156,...,-0.021714,0.012447,-0.360625,0.514926,0.064194,1.026317,-0.030845,-0.083609,52.90,0.0
15932,27369,-3.058318,3.099206,-4.932555,1.924138,-1.576032,-2.135383,-0.830098,2.228617,-0.312343,...,-0.111526,-0.485223,-0.003945,0.049422,-0.173962,-0.379260,0.171872,-0.236166,99.99,0.0
15933,27369,-0.661806,0.315385,2.011194,-0.438757,-0.554990,-0.668072,0.424651,0.079141,0.126057,...,0.148063,0.177511,0.134794,0.359931,-0.544428,0.181545,0.068546,0.153438,74.58,0.0
15934,27370,1.525348,-1.231442,0.420095,-1.551218,-1.376006,0.100758,-1.455755,0.134876,-1.319056,...,-0.108619,0.084883,-0.051758,-0.815038,0.331989,-0.015837,0.058942,0.011087,6.00,0.0
15935,27371,1.385680,-0.590076,-0.569197,-0.939441,-0.196015,-0.486685,-0.102496,-0.237930,-0.928028,...,-0.255944,-1.055682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# distribution of two classes
credit_card_data['Class'].value_counts()

0.0    15862
1.0       73
Name: Class, dtype: int64

This is Higly Imbalanced Dataset

0 --> Legit Transactions

1 --> Fraudulent Transactions

In [6]:
# separating the legit and fraudulent transactions
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [7]:
print(legit.shape)
print(fraud.shape)

(15862, 31)
(73, 31)

Under-sampling

Build a sample dataset containing sumilar distribution of Legit & Fraudulent Transactions

Number of Fraudulent Transactions --> 73

In [8]:
legit_sample = legit.sample(n = 73)

In [9]:
print(legit_sample.shape)

(73, 31)

Concatenate the Two DataFrames

In [12]:
new_dataset = pd.concat([legit_sample, fraud], axis = 0) 
# here axis = 0 means we need to concatenate row vise

In [13]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
7238,9559,-1.875033,1.292787,1.418918,-1.253115,-0.295704,-0.990328,0.786691,-0.497060,2.354120,...,-0.370497,-0.455674,-0.084477,0.338606,-0.289775,0.617955,-0.187771,0.315536,49.88,0.0
4142,3747,1.122478,-0.795864,0.571221,-0.603262,-0.780820,0.274670,-0.858857,0.185651,0.382110,...,-0.100517,-0.363092,0.135825,-0.384871,-0.034030,-0.483673,-0.009021,0.011335,89.77,0.0
14758,25990,0.406096,0.110036,1.096828,3.616251,-0.723190,1.412756,0.058562,0.422051,-0.952548,...,0.460250,0.911677,0.659458,-0.564770,-0.995981,0.008725,-0.060047,-0.102105,209.05,0.0
2325,1867,1.163942,-0.409313,-0.353590,0.600512,1.614795,4.388608,-1.034458,1.149803,1.139506,...,-0.493230,-1.151827,0.014007,0.995618,0.651431,-0.524167,0.075047,0.026361,18.06,0.0
4955,4510,1.194317,-0.086043,0.814422,0.481441,-0.496733,0.159663,-0.684475,0.111255,1.654496,...,-0.160724,-0.313247,-0.050016,-0.550815,0.177666,0.377356,-0.047529,0.004059,29.50,0.0

In [14]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
15566,26961,-23.237920,13.487386,-25.188773,6.261733,-17.345188,-4.534989,-17.100492,15.374630,-3.845567,...,1.769708,-1.691973,-1.045673,0.143386,1.611577,-0.221576,1.481233,0.438125,99.99,1.0
15736,27163,-23.914101,13.765942,-25.733734,6.290918,-17.784824,-4.572498,-17.390764,15.794136,-3.819832,...,1.773399,-1.748426,-1.093104,0.147807,1.663792,-0.221024,1.458076,0.430315,99.99,1.0
15751,27187,-24.590245,14.044567,-26.278701,6.320089,-18.224513,-4.609968,-17.681003,16.213627,-3.794093,...,1.777063,-1.804874,-1.140605,0.152234,1.715997,-0.220471,1.434951,0.422492,99.99,1.0
15781,27219,-25.266355,14.323254,-26.823673,6.349248,-18.664251,-4.647403,-17.971212,16.633103,-3.768351,...,1.780701,-1.861318,-1.188167,0.156667,1.768192,-0.219916,1.411855,0.414656,99.99,1.0
15810,27252,-25.942434,14.601998,-27.368650,6.378395,-19.104033,-4.684806,-18.261393,17.052566,-3.742605,...,1.784316,-1.917759,-1.235787,0.161105,1.820378,-0.219359,1.388786,0.406810,99.99,1.0

In [15]:
new_dataset['Class'].value_counts()

0.0    73
1.0    73
Name: Class, dtype: int64